<div class="container">
    <script>
        {#    获取焦点并插入父评论的id值    #}

        function jump(number) {
            const parent_obj = document.getElementById('id_parent_comment_id');
            const textare_obj = document.getElementById('id_body');
            parent_obj.value = number
            textare_obj.focus();
        }
    </script>
    <div class="comment_font my-2">留言</div>
    <div class="hr"></div>

    <div class="row ">
        <div class="col-md-12">
            {% for item in comment_tree %}
                <ul class="media-list mt-lg-3">
                    <li class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object rounded-circle some_display_none"
                                     src="{{ item.author.avatar }}"
                                     alt="{{ item.author.nickname }}">
                            </a>
                        </div>
                        <div id="div-comment-{{ item.id }}" class="media-body">
                            <div class="media-heading comment_font">{{ item.author.username }}</div>

                            <div class="comment_font">{{ item.body }}</div>

                            <div class="comment_font">
                                <span>{{ item.author.created_time }}</span>&nbsp;
                                <a href="javascript:void(0)" onclick="jump({{ item.id }})">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true">回复</span>
                                </a>
                            </div>
                            {% for item in  item.children_comment %}
                                <hr/>
                                <ul class="media-list">
                                    <li class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="media-object rounded-circle" src="{{ item.author.avatar }}"
                                                     alt="{{ item.author.nickname }}">
                                            </a>
                                        </div>
                                        <div id="div-comment-{{ item.id }}" class="media-body">
                                            <h4 class="media-heading"> {{ item.author.username }}</h4>

                                            <p> {{ item.body }}</p>

                                            <div class="ds-comment-footer">
                                                <span>{{ item.author.created_time }}</span>&nbsp;
                                                <a href="javascript:void(0)" onclick="jump({{ item.id }})">
                                                    <span class="glyphicon glyphicon-comment"
                                                          aria-hidden="true">回复</span>
                                                </a>
                                            </div>
                                            {% for item in  item.children_comment %}
                                                <hr/>
                                                <ul class="media-list">

                                                    <li class="media">
                                                        <div class="media-left">
                                                            <a href="#">
                                                                <img class="media-object rounded-circle"
                                                                     src="{{ item.author.avatar }}"
                                                                     alt="{{ item.author.nickname }}">

                                                            </a>
                                                        </div>
                                                        <div id="div-comment-{{ item.id }}" class="media-body">
                                                            <h4 class="media-heading"> {{ item.author.username }}</h4>

                                                            <p>{{ item.body }}</p>

                                                            <div class="ds-comment-footer">
                                                                <span>{{ item.author.created_time }}</span>&nbsp;

                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            {% endfor %}
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </li>

                </ul>
                <div class="hr"></div>
            {% endfor %}


        </div>


    </div>
    <form action='{% url 'comments:postcomment' article.id %}' method='post'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group mt-lg-4 mb-1 ">
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mb-2">提交</button>
    </form>

</div>