/* >=768的设备 */
@media screen and (max-width: 576px) {

    /*-----------------------------------------*/
    /*------------公用--------------------*/
    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }
    .text_align_center {
        text-align: center;
    }
    .text_align_right {
        text-align: right;
    }
    .some_display_none {
        display: none;
    }

    .font_16 {
        font-size: 16px;
    }

    .font_12 {
        font-size: 12px;
    }

    .font_10 {
        font-size: 10px;
    }

    /*-------------------------------*/
    /*------------history 头部-------------------*/
    .history_content {
        /*border:1px solid red;*/
        background-color: rgb(237, 241, 244);
        text-align: center;
    }

    /*------------App-header 头部-------------------*/
    .header_content {
        margin-top: 10px;
        height: 70px;
        /*    !!!!!!*/
    }


    .header_content_titile {
        color: #993300;
        font-family: "宋体";
        font-weight: bolder;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    .header_label_box {
        font-size: 16px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    /*----------------------------------------------*/
    /*----------------App-footer 底部----------------*/
    /*-----------------------------------------------------------*/
    /*-----------风格分类组件部分------------*/
    .style_hide {
        display: none;
    }

    .content_classify_image {
        background-color: white;
        display: none;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .hr {
        height: 1px;
        border-top: solid #ACC0D8 1px;

        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-----------阅读排行组件部分------------*/
    .content_rank_box {
        /*    !!!!!!*//*    !!!!!!*/
    }


    .rank_read_box {
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_size {
        /*font-weight: bold;*/
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_more_size {
        font-size: 12px;
        text-align: right;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_content_size {
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_number_size {

        font-size: 12px;
        text-align: center;

        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*------------讨论期待--------------*/
    .comment_font {
        font-size: 16px;
    }

    .comment_font_more {
        font-size: 12px;
    }

    /*---------------------------------*/
    /*--------------书库组件Storebody-------------------*/
    .sort_intr_content {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        /*    !!!!!!*//*    !!!!!!*/
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

    }

    .store_content_bottom {
        padding: 3px;

        border: solid #ACC0D8 1px;
        border-radius: 5px;

    }

    /*---------------------------------*/
    /*-------------book组件部分--------------------*/
    .book_title {
        font-size: 18px;

        /*    !!!!!!*//*    !!!!!!*/

    }


    .book_title_box {
        display: inline-block;

        font-size: 16px;
        border-bottom: 1px #ccc dotted;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_info {
        justify-content: center;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .info_box_author {

        text-align: right;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .info_box_time {
        text-align: left;
    }

    .info_box_num {
        text-align: left;
    }

    .content_box_margin {
        margin: 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*.content_box {*/
    /*    font-size: 25px;*/
    /*}*/
    .content_posit {
        color: grey;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*-------------BookContent组件--------------------*/
    .book_chapter_name {
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0 10px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_content_bottom {
        margin: 0 0 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .book_content {
        text-align: left;
        font-size: 16px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*------------------注册--------------*/

}

@media screen and (min-width: 576px) and (max-width: 768px) {

    /*-----------------------------------------*/
    /*------------公用--------------------*/
    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }


    /*-------------------------------*/
    /*------------App-header 头部-------------------*/
    .header_content {
        margin-top: 10px;
        height: 70px;
        /*    !!!!!!*/
    }


    .header_content_titile {
        color: #993300;
        font-family: "宋体";
        font-weight: bolder;
        font-size: 42px;
        height: 60px;
        text-align: left;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    .header_label_box {
        font-size: 16px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    /*----------------------------------------------*/
    /*----------------App-footer 底部----------------*/
    /*-----------------------------------------------------------*/
    /*-----------风格分类组件部分------------*/
    .content_classify_image {
        background-color: white;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .hr {
        height: 1px;
        border-top: solid #ACC0D8 1px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-----------阅读排行组件部分------------*/
    .content_rank_box {
        /*    !!!!!!*//*    !!!!!!*/
    }


    .rank_read_box {
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_size {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_more_size {
        height: 27px;
        font-size: 12px;
        line-height: 27px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_content_size {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_number_size {
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 3px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*------------讨论期待--------------*/
    /*---------------------------------*/
    /*--------------书库组件Storebody-------------------*/
    .sort_intr_content {

        overflow: hidden;
        text-overflow: ellipsis;

        /*    !!!!!!*//*    !!!!!!*/
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

    }


    /*---------------------------------*/
    /*-------------book组件部分--------------------*/
    .book_title {
        font-size: 30px;
        font-weight: bold;
        /*    !!!!!!*//*    !!!!!!*/

    }


    .book_title_box {
        display: inline-block;

        font-size: 16px;
        border-bottom: 1px #ccc dotted;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_info {
        justify-content: center;
        margin: 20px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .info_box {
        padding-left: 30px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .content_box_margin {
        margin: 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*.content_box {*/
    /*    font-size: 25px;*/
    /*}*/
    .content_posit {
        color: grey;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*-------------BookContent组件--------------------*/
    .book_chapter_name {
        font-size: 30px;
        font-weight: bold;
        margin: 30px 0 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_content_bottom {
        margin: 50px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .book_content {
        text-align: left;
        font-size: 20px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*------------------注册--------------*/

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    /*-----------------------------------------*/
    /*------------公用--------------------*/
    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }


    /*-------------------------------*/
    /*------------App-header 头部-------------------*/
    .header_content {
        margin-top: 10px;
        height: 70px;
        /*    !!!!!!*/
    }


    .header_content_titile {
        color: #993300;
        font-family: "宋体";
        font-weight: bolder;
        font-size: 42px;
        height: 60px;
        text-align: left;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    .header_label_box {
        font-size: 16px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    /*----------------------------------------------*/
    /*----------------App-footer 底部----------------*/
    /*-----------------------------------------------------------*/
    /*-----------风格分类组件部分------------*/
    .content_classify_image {
        background-color: white;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .hr {
        height: 1px;
        border-top: solid #ACC0D8 1px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-----------阅读排行组件部分------------*/
    .content_rank_box {
        /*    !!!!!!*//*    !!!!!!*/
    }


    .rank_read_box {
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_size {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_more_size {
        height: 27px;
        font-size: 12px;
        line-height: 27px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_content_size {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_number_size {
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 3px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*------------讨论期待--------------*/
    /*---------------------------------*/
    /*--------------书库组件Storebody-------------------*/
    .sort_intr_content {
        width: 590px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-------------book组件部分--------------------*/
    .book_title {
        font-size: 30px;
        font-weight: bold;
        /*    !!!!!!*//*    !!!!!!*/

    }


    .book_title_box {
        display: inline-block;

        font-size: 16px;
        border-bottom: 1px #ccc dotted;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_info {
        justify-content: center;
        margin: 20px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .info_box {
        padding-left: 30px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .content_box_margin {
        margin: 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*.content_box {*/
    /*    font-size: 25px;*/
    /*}*/
    .content_posit {
        color: grey;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*-------------BookContent组件--------------------*/
    .book_chapter_name {
        font-size: 30px;
        font-weight: bold;
        margin: 30px 0 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_content_bottom {
        margin: 50px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .book_content {
        text-align: left;
        font-size: 20px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*------------------注册--------------*/


}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    /*-----------------------------------------*/
    /*------------公用--------------------*/
    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .text_align_center {
        text-align: center;
    }

    /*-------------------------------*/
    /*------------App-header 头部-------------------*/
    .header_content {
        margin-top: 10px;
        height: 70px;
        /*    !!!!!!*/
    }


    .header_content_titile {
        color: #993300;
        font-family: "宋体";
        font-weight: bolder;
        font-size: 42px;
        height: 60px;
        text-align: left;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    .header_label_box {
        font-size: 16px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    /*----------------------------------------------*/
    /*----------------App-footer 底部----------------*/
    /*-----------------------------------------------------------*/
    /*-----------风格分类组件部分------------*/
    .content_classify_image {
        background-color: white;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .hr {
        height: 1px;
        border-top: solid #ACC0D8 1px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-----------阅读排行组件部分------------*/
    .content_rank_box {
        /*    !!!!!!*//*    !!!!!!*/
    }


    .rank_read_box {
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_size {
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_more_size {
        height: 27px;
        font-size: 12px;
        line-height: 27px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_content_size {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_number_size {
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 3px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*------------讨论期待--------------*/
    /*---------------------------------*/
    /*--------------书库组件Storebody-------------------*/
    .sort_intr_content {
        width: 590px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-------------book组件部分--------------------*/
    .book_title {
        font-size: 30px;
        font-weight: bold;
        /*    !!!!!!*//*    !!!!!!*/

    }


    .book_title_box {
        display: inline-block;

        font-size: 16px;
        border-bottom: 1px #ccc dotted;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_info {
        justify-content: center;
        margin: 20px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .info_box {

        text-align: center;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .content_box_margin {
        margin: 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*.content_box {*/
    /*    font-size: 25px;*/
    /*}*/
    .content_posit {
        color: grey;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*-------------BookContent组件--------------------*/
    .book_chapter_name {
        font-size: 30px;
        font-weight: bold;
        margin: 30px 0 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_content_bottom {
        margin: 50px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .book_content {
        text-align: left;
        font-size: 20px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*------------------注册--------------*/

}

@media screen and (min-width: 1200px) {


    /*-----------------------------------------*/
    /*------------公用--------------------*/
    body {
        min-height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
    }


    /*-------------------------------*/
    /*------------history 头部-------------------*/
    .display_none_1200 {
        display: none;
    }

    /*-------------------------------*/
    /*------------App-header 头部-------------------*/
    .header_content {
        margin-top: 10px;
        height: 70px;
        /*    !!!!!!*/
    }


    .header_content_titile {
        color: #993300;
        font-family: "宋体";
        font-weight: bolder;
        font-size: 42px;
        height: 60px;
        text-align: left;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    .header_label_box {
        font-size: 16px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }


    /*----------------------------------------------*/
    /*----------------App-footer 底部----------------*/
    /*-----------------------------------------------------------*/
    /*-----------风格分类组件部分------------*/
    .content_classify_image {
        background-color: white;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .hr {
        height: 1px;
        border-top: solid #ACC0D8 1px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-----------阅读排行组件部分------------*/
    .content_rank_box {
        /*    !!!!!!*//*    !!!!!!*/
    }


    .rank_read_box {
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_size {

        font-size: 16px;

        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_more_size {
        height: 27px;
        font-size: 12px;
        line-height: 27px;
        /*    !!!!!!*//*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_content_size {
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        margin-top: 3px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .rank_read_number_size {
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 3px;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*------------讨论期待--------------*/
    /*---------------------------------*/
    /*--------------书库组件Storebody-------------------*/
    .sort_intr_content {
        width: 590px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        /*    !!!!!!*//*    !!!!!!*/
    }


    /*---------------------------------*/
    /*-------------book组件部分--------------------*/
    .book_title {
        font-size: 30px;
        font-weight: bold;
        /*    !!!!!!*//*    !!!!!!*/

    }


    .book_title_box {
        display: inline-block;

        font-size: 16px;
        border-bottom: 1px #ccc dotted;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_info {
        justify-content: center;
        margin: 20px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .info_box_author {

        text-align: right;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .info_box_num {
        text-align: center;
    }

    .info_box_time {

        text-align: left;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .content_box_margin {
        margin: 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*.content_box {*/
    /*    font-size: 25px;*/
    /*}*/
    .content_posit {
        color: grey;
        /*    !!!!!!*//*    !!!!!!*/
    }

    /*---------------------------------*/
    /*-------------BookContent组件--------------------*/
    .book_chapter_name {
        font-size: 30px;
        font-weight: bold;
        margin: 30px 0 20px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .book_content_bottom {
        margin: 50px 0 30px 0;
        /*    !!!!!!*//*    !!!!!!*/
    }


    .book_content {
        text-align: left;
        font-size: 20px;
        /*    !!!!!!*//*    !!!!!!*/
    }

    .xl_display_none {
        display: none;
    }

    /*---------------------------------*/
    /*------------------注册--------------*/

}

