<!DOCTYPE html>
<html lang="zh-cn">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>
    <meta name="robots" content="noindex">
    <title>{{ SITE_NAME }}|{{ SITE_DESCRIPTION }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/oauth_style.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'assets/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- TODC Bootstrap core CSS -->
    <link href="{% static 'assets/css/todc-bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'assets/css/signin.css' %}" rel="stylesheet">

    <script src="{% static 'assets/js/ie10-viewport-bug-workaround.js' %}"></script>
    <script src="{% static 'assets/js/ie-emulation-modes-warning.js' %}"></script>

</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>