{% extends 'reader/base.html' %}
{% load static %}
{% block content %}
    <div class="container ">
        <div class="m-xl-5 pb-xl-5">
            <h3 class="text-center ">登录</h3>

            <img class="img-circle profile-img" src="{% static 'blog/img/avatar.png' %}" alt="">
            <form class="col-xl-4 m-auto " action="{% url 'accounts:login' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                {% endfor %}
                <button class="col-xl-12 btn btn-danger btn-lg" type="submit">登录账户</button>

            </form>

        </div>
    </div>
{% endblock %}