{% extends 'reader/base.html' %}
{% block head %}
    <title>{{ article.art_name }}_{{ article.art_type }}—哦啦阅读网</title>
    <meta name="description" content="{{ article.art_name }}所有章节，{{ article.art_name }}免费阅读">
    <meta name="keywords" content="{{ article.art_name }}，哦啦，哦啦网，哦啦阅读网,古典文学，中国古典名著，免费阅读，免费小说，经典小说,读书">
{% endblock head %}
{% block content %}

    <div class='container'>
        <div class='row no-gutters'>
            <div>当前位置：</div>
            <div><a href="{% url 'reader:index' %}">首页></a></div>
            <div><a href="{% url 'reader:category' article.art_type  %}">{{ article.art_type }}></a></div>
            <div>{{ article.art_name }}</div>
        </div>
        <div class='col-xl-12 text-center book_title'>{{ article.art_name }}</div>
        <div class="col-xl-12 text-center some_display_none">开始阅读</div>

        <div class='row  book_info no-gutters'>
            <div class='col-xl-4 info_box_author some_display_none'>作者:{{ article.art_author }}</div>

            <div class='col-xl-4 col-12 info_box_num'>更新:{{ last_chap.chapter_add_date| date:'Y-m-d h:m:s' }}</div>

            <div class='col-xl-4 col-12 info_box_time'>最新章节:<a href="{% url 'reader:chapter' last_chap.article.id last_chap.id %}">{{ last_chap.chapter_name }}</a></div>
        </div>

        <div class='row content_box_margin no-gutters'>
            <div class='col-2 col-xl-1 '>正文:</div>
            <div class='col-3 col-xl-1 content_posit'>共{{ chapter_num }}章</div>
            <div class='col-7 col-xl-10 content_posit'>共{{ article.word_number }}字</div>
        </div>
        <div class="row no-gutters">
            {% for item in chapters %}
                <div class='col-6 col-xl-4 mb-xl-4 book_title_box '>
                    <a href="{% url 'reader:chapter' article.id item.id %}">
                        {{ item.chapter_name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'comments/comment_list.html' %}
{% endblock content %}
