<div class="card-footer  m-auto">
    <div class="text-center "><a href='http://www.beian.miit.gov.cn/'>黑ICP备14006248号-1</a></div>
    {#            <div class="contact_text">客服中心</div>#}
    {#            <div class="contact_text">版权服务</div>#}
    {#            <div class="contact_text">公众号</div>#}
    {#            <div class="contact_text">留言</div>#}
    <div class="text-center p-lg-3">邮箱:359975715@qq.com</div>
    {#    <div class="text-center">电话</div>#}
    <div class="text-center"><a href="http://www.ohlaa.com/sitemap.xml">网站地图</a></div>
</div>

<div class="row m-auto">
    <div class="col-12 col-xl-12 text-center p-lg-2">Copyright©www.ohlaa.com</div>
</div>


