<div class="container ">
    <div class="card-footer mt-xl-3 mt-1">
        <div class="text-center ">意见建议</div>
        {#            <div class="contact_text">客服中心</div>#}
        {#            <div class="contact_text">版权服务</div>#}
        {#            <div class="contact_text">公众号</div>#}
        {#            <div class="contact_text">留言</div>#}
        <div class="text-center p-lg-3">邮箱</div>
        <div class="text-center">电话</div>
    </div>

    <div class="row">
        <div class="col-12 col-xl-12 text-center p-lg-5">Copyright©www.ohlaa.com</div>
    </div>
</div>
