{% extends 'reader/base.html' %}
{% block head %}
    <title>诗词_哦啦阅读网</title>
    <meta name="description" content="书库，所有书籍，完本，哦啦阅读网，学习、创作、阅读的网站。在这里可以系统的学习、创作、尽情的阅读。">
    <meta name="keywords" content="哦啦，哦啦网，哦啦阅读网,古典文学，中国古典名著，经典小说，免费阅读，完本,小说排行,读书">
{% endblock head %}
{% block content %}
    <div class='container header_label_box'>

        <div class='row mt-2 mb-2 mt-xl-3 mb-xl-3 no-gutters'>
            <div class='col-2 col-xl-1 some_display_none'>类别</div>
            <div class='col-7 col-xl-1'>题目</div>
            <div class='col-2 col-xl-1 some_display_none'>状态</div>
            <div class='col-2 col-xl-1'>作者</div>
            <div class='col-3 col-xl-1'>朝代</div>
            <div class='col-4 col-xl-1 some_display_none'>添加时间</div>
            <div class='col-2 col-xl-6 some_display_none'>简介</div>
        </div>
        <div class="hr"></div>
        {% if shici %}
            {% for item in shicis %}
                <div class='row no-gutters my-3 comment_font store_content_bottom'>
                    <div class='col-2 col-xl-1 mb-xl-3 some_display_none'>{{ item.art_type }}</div>
                    <div class='col-7 col-xl-1  mb-xl-3 text-center'>
                        <a href="{% url 'reader:book' item.id %}">
                            {{ item.title }}</a></div>
                    <div class='col-2 col-xl-1 mb-xl-3 some_display_none'>{{ item.dynasty }}</div>
                    <div class='col-3 col-xl-1 mb-xl-3 m-auto font_12'>{{ item.author }}</div>
                    <div class='col-2 col-xl-1 mb-xl-3 m-auto font_12'>{{ item.art_hits }}</div>
                    <div class='col-2 col-xl-1 mb-xl-3 some_display_none'>{{ item.created_time |date:'Y-m-d' }}</div>
                    <div class='col-12 col-xl-6 mb-xl-3 sort_intr_content'>{{ item.art_introduction }}</div>
                </div>

            {% endfor %}
        {% else %}
            <div class="row text-center m-5">暂无内容</div>
        {% endif %}
    </div>
{% endblock content %}